/* Required for full background image */

@font-face {
	font-family: "Raleway Light";
	src: url(../font/raleway/Raleway_Light.ttf);
}

@font-face {
	font-family: "Raleway Thin";
	src: url(../font/raleway/Raleway_Thin.ttf);
}

@font-face {
	font-family: "Raleway Regular";
	src: url(../font/raleway/Raleway_Regular.ttf);
}

@font-face {
	font-family: "Raleway Medium";
	src: url(../font/raleway/Raleway_Medium.ttf);
}

@font-face {
	font-family: "Raleway Bold";
	src: url(../font/raleway/Raleway_Bold.ttf);
}

@font-face {
	font-family: "Raleway SemiBold";
	src: url(../font/raleway/Raleway_SemiBold.ttf);
}

@font-face {
	font-family: "Raleway ExtraBold";
	src: url(../font/raleway/Raleway_ExtraBold.ttf);
}

@font-face {
	font-family: "Quicksand Bold";
	src: url(../font/qiucksand/Quicksand_Bold.otf);
}

html,
body,
header,
.view {
  height: 100%;
  /* font-family: 'Lato light', sans-serif; */
  /* font-family: 'Playfair Display', serif; */
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}
.bg-main{
  background-color: #125f8a!important;
}
.pointer{
  cursor: pointer;
}
.hover-translate {
  -webkit-animation: 0.2s ease-out;
          animation: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
          transition: 0.2s ease-out;
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: #125f8a !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #125f8a !important;
  }
}

.btn-white {
  color: black !important;
}

h6 {
  line-height: 1.7;
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  /* background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%); */
  background: -webkit-linear-gradient(45deg, rgb(5, 91, 138), rgba(82, 177, 225, 0.54) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
  background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

.shadow-xs {
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3) !important;
}

.shadow-png {
  -webkit-filter: drop-shadow(5px 5px 5px #222 ); 
  filter: drop-shadow(5px 5px 5px #222);
}

.shadow-png-sm {
  -webkit-filter: drop-shadow(0px 0px 2px #222 ); 
  filter: drop-shadow(0px 0px 2px #222);
}

.hover-translate {
  -webkit-animation: 0.2s ease-in-out;
          animation: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out;
}

.hover-translate:hover {
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.5) ); 
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.5) );
  transform: translateY(-10px);
}

#map {
  height: 100%;
}
.img-focus{
  width: 15rem;
  height: 15rem;
}