<div id="faq">
        <div class="container my-5 py-5">
      
          <h2 class="h1-responsive text-center font-weight-bold mb-5 wow fadeIn slow" data-wow-delay="0.3s">Frequently Asked Question</h2>
      
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <!--Accordion wrapper-->
      <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
      
        <!-- Accordion card -->
        <div class="card my-2 wow fadeInUp hover-translate" data-wow-delay="0.3s">
      
          <!-- Card header -->
          <div class="card-header btn-default bg-main pointer collapsed" role="tab" id="headingOne" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <div class=" text-white" >
              <h5 class="mb-0">
                <i class="fa fa-unsorted" aria-hidden="true"></i> &nbsp; Jurusan apa saja di Pondok IT?</i>
              </h5>
            </div>
          </div>
      
          <!-- Card body -->
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
            <div class="card-body">
                <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp;Pondok Programmer
                <br>
                <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp;Pondok Multimedia
                <br>
                <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp;Pondok Imers
                <br>
                <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp;Pondok Programmer
            </div>
          </div>
        </div>
        <!-- Accordion card -->
      
        <!-- Accordion card -->
        <div class="card my-2 wow fadeInUp hover-translate" data-wow-delay="0.3s">
      
          <!-- Card header -->
          <div class="card-header btn-default bg-main pointer collapsed" role="tab" id="headingTwo" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class=" text-white" >
              <h5 class="mb-0">
                <i class="fa fa-unsorted" aria-hidden="true"></i> &nbsp; Dimana lokasi Pondok IT?</i>
              </h5>
            </div>
          </div>
      
          <!-- Card body -->
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
            <div class="card-body">
              Glagah Lor RT.02 No.64 , Desa Tamanan, Kec. Banguntapan, Kab. Bantul, Daerah Istimewa Yogyakarta Pusat
              Tirtohargo, Kretek, Bantul Regency, Special Region of Yogyakarta 55772, Indonesia Cabang 
            </div>
          </div>
        </div>
        <!-- Accordion card -->
      
        <!-- Accordion card -->
        <div class="card my-2 wow fadeInUp hover-translate" data-wow-delay="0.3s">
      
          <!-- Card header -->
          <div class="card-header btn-default bg-main pointer collapsed" role="tab" id="headingThree" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div class=" text-white" >
              <h5 class="mb-0">
                <i class="fa fa-unsorted" aria-hidden="true"></i> &nbsp; Siapa yang bisa bergabung di Pondok IT?</i>
              </h5>
            </div>
          </div>
      
          <!-- Card body -->
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx">
            <div class="card-body">
              <p>Sebagai Santri : Lulusan SMA/SMK yang punya passion di bidang IT dan yang di utamakan yang kurang mampu secara financial.</p>
      
              <p>Sebagai Volunter, Donatur, Mentor, Pengurus, atau siapa saja yang ingin berpartisipasi silahkan kontak 0852 2880 2828</p>
            </div>
          </div>
        </div>
        <!-- Accordion card -->
      
        <!-- Accordion card -->
        <div class="card my-2 wow fadeInUp hover-translate" data-wow-delay="0.3s">
      
          <!-- Card header -->
          <div class="card-header btn-default bg-main pointer collapsed" role="tab" id="headingFour" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <div class=" text-white" >
              <h5 class="mb-0">
                <i class="fa fa-unsorted" aria-hidden="true"></i> &nbsp; Kapan pendaftarannya?</i>
              </h5>
            </div>
          </div>
      
          <!-- Card body -->
          <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordionEx">
            <div class="card-body">
              <p>Mulai dari sekarang sudah bisa melakukan pendaftaran</p>
              <p>klik link ini <a href="http://www.pendaftaran.pondokit.com">www.pendaftaran.pondokit.com</a></p> 
            </div>
          </div>
        </div>
        <!-- Accordion card -->
      
        <!-- Accordion card -->
        <div class="card my-2 wow fadeInUp hover-translate" data-wow-delay="0.3s">
      
          <!-- Card header -->
          <div class="card-header btn-default bg-main pointer collapsed" role="tab" id="headingFive" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <div class=" text-white" >
              <h5 class="mb-0">
                <i class="fa fa-unsorted" aria-hidden="true"></i> &nbsp; Kenapa Pondok IT bisa 100% Gratis?</i>
              </h5>
            </div>
          </div>
      
          <!-- Card body -->
          <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordionEx">
            <div class="card-body">
              Santri baru yang masuk Pondok IT bebas biaya dari pendaftaran sampai lulus. Bagaimana mungkin santri bisa bebas biaya sementara dalam kesehariannya perlu makan, minum, tempat tinggal dan sarana prasarana?ini adalah pertanyaan yang sering muncul kepada kami. Sumber pendanaan Pondok IT berasal dari kakak kelas yang telah mandiri (yang berkerja). Jadi biaya makan, tempat tinggal dan operasional bulanan di tanggung bersama oleh kakak kelas yang mandiri. Inilah Konsep amal jariyah Pondok IT. Kakak kelas membiayai adik kelas. Suatu saat adik kelas akan menjadi kakak kelas ketika sudah siap dan mandiri. Selain itu juga ada donatur yang menyumbangkan hartanya untuk operasional Pondok IT.  
            </div>
          </div>
        </div>
        <!-- Accordion card -->
      
        <!-- Accordion card -->
        <div class="card my-2 wow fadeInUp hover-translate" data-wow-delay="0.3s">
      
          <!-- Card header -->
          <div class="card-header btn-default bg-main pointer collapsed" role="tab" id="headingSix" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <div class=" text-white" >
              <h5 class="mb-0">
                <i class="fa fa-unsorted" aria-hidden="true"></i> &nbsp; Tujuan Pondok IT</i>
              </h5>
            </div>
          </div>
      
          <!-- Card body -->
          <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordionEx">
            <div class="card-body">
              Tujuan pondok IT menyiapkan pemuda IT yang BERTAQWA, PROFESIONAL, MANDIRI, BERBAGI. 
            </div>
          </div>
        </div>
        <!-- Accordion card -->
      
        <!-- Accordion card -->
        <div class="card my-2 wow fadeInUp hover-translate" data-wow-delay="0.3s">
      
          <!-- Card header -->
          <div class="card-header btn-default bg-main pointer collapsed" role="tab" id="headingEight" data-toggle="collapse" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            <div class=" text-white" >
              <h5 class="mb-0">
                <i class="fa fa-unsorted" aria-hidden="true"></i> &nbsp; Apa saja Tes Offlinenya?</i>
              </h5>
            </div>
          </div>
      
          <!-- Card body -->
          <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordionEx">
            <div class="card-body">
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp;Akhlaq
              <br>
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp;Perilaku
              <br>
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp;Niat
              <br>
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp;Semangat Belajar dan Ibadah
            </div>
          </div>
        </div>
        <!-- Accordion card -->
      </div>
      <!--/.Accordion wrapper-->
            </div>
            <div class="col-md-6 col-sm-12">
              <!-- Accordion card -->
        <div class="card my-2 wow fadeInUp hover-translate" data-wow-delay="0.3s">
      
          <!-- Card header -->
          <div class="card-header btn-default bg-main pointer collapsed" role="tab" id="headingNine" data-toggle="collapse" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            <div class=" text-white" >
              <h5 class="mb-0">
                <i class="fa fa-unsorted" aria-hidden="true"></i> &nbsp; Lingkungan Islami</i>
              </h5>
            </div>
          </div>
      
          <!-- Card body -->
          <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordionEx">
            <div class="card-body">
              Karakter seseorang sangat dipengaruhi oleh lingkungan tempat di tanggal dan bersama siapa seseorang bergaul. Ketika kita tinggal di lingkungan perokok maupun bergaul dengan perokok minimal kita akan menghirup asap rokok, bisa jadi kita akan ikut ketularan merokok bahkan kecanduan. Ketika kita tinggal bersama penjual minyak wangi minimal kita akan menghirup bau harum, bahkan jika beruntung kita kecipratan minyak wangi dan kitapun jadi wangi. Begitu juga jika kita bergaul dengan orang yang rajin sholat berjama’ah, puasa, ngaji, orang sholeh, Maka kita berharap kita ikut menjadi seperti itu. Ketika kita melakukan ibadah sendiri biasanya akan terasa berat, namun jika ada teman yang senantiasa mengingatkan dan mengajak kebaikan maka ibadah itu menjadi lebih ringan. Lingkungan dan budaya islami senantiasa berusaha dijaga di Pondok IT. 
            </div>
          </div>
        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card my-2 wow fadeInUp hover-translate" data-wow-delay="0.3s">
      
          <!-- Card header -->
          <div class="card-header btn-default bg-main pointer collapsed" role="tab" id="headingTen" data-toggle="collapse" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            <div class=" text-white" >
              <h5 class="mb-0">
                <i class="fa fa-unsorted" aria-hidden="true"></i> &nbsp; Apa saja yang dipelajari?</i>
              </h5>
            </div>
          </div>
      
          <!-- Card body -->
          <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen" data-parent="#accordionEx">
            <div class="card-body">
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Belajar IT sesuai Bidang masing - masing (Programmer, Multimedia, Imers, Cyber)
              <br>
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp;Belajar Agama (Aqidah, Adab, Tahsin, Tahfidz, Fiqih)
            </div>
          </div>
        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card my-2 wow fadeInUp hover-translate" data-wow-delay="0.3s">
      
          <!-- Card header -->
          <div class="card-header btn-default bg-main pointer collapsed" role="tab" id="headingElev" data-toggle="collapse" href="#collapseElev" aria-expanded="false" aria-controls="collapseElev">
            <div class=" text-white" >
              <h5 class="mb-0">
                <i class="fa fa-unsorted" aria-hidden="true"></i> &nbsp; Fasilitas apa yang ada di Pondok IT?</i>
              </h5>
            </div>
          </div>
      
          <!-- Card body -->
          <div id="collapseElev" class="collapse" role="tabpanel" aria-labelledby="headingElev" data-parent="#accordionEx">
            <div class="card-body">
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Makan dan Tempat Tinggal ditanggung 100%
              <br>
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Intensive Training
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Mengikuti event - event IT
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Lingkungan nyaman, kondusif, dan tempat tinggal
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Koneksi 24 jam
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Olahraga
            </div>
          </div>
        </div>
        <!-- Accordion card -->
      
        <!-- Accordion card -->
        <div class="card my-2 wow fadeInUp hover-translate" data-wow-delay="0.3s">
      
          <!-- Card header -->
          <div class="card-header btn-default bg-main pointer collapsed" role="tab" id="headingTwel" data-toggle="collapse" href="#collapseTwel" aria-expanded="false" aria-controls="collapseTwel">
            <div class=" text-white" >
              <h5 class="mb-0">
                <i class="fa fa-unsorted" aria-hidden="true"></i> &nbsp; Berapa lama waktu Belajarnya?</i>
              </h5>
            </div>
          </div>
      
          <!-- Card body -->
          <div id="collapseTwel" class="collapse" role="tabpanel" aria-labelledby="headingTwel" data-parent="#accordionEx">
            <div class="card-body">
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Belajar terkait Basic, Mindset, dan Karakter 3 Bulan pertama
              <br>
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Belajar lebih mendalam (fokus pada passion masing - masing) 3 Bulan kedua
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Magang di tempat yang di arahkan oleh ondok IT, Freelance, Kerja di perusahaan yang telah kerjasama dengan Pondok IT, membangun Produk/Startup 2,5 Tahun sisa nya
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Belajar Diniyah Islam 3 Tahun
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Total lama masa Santri 3 Tahun
            </div>
          </div>
        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card my-2 wow fadeInUp hover-translate" data-wow-delay="0.3s">
      
          <!-- Card header -->
          <div class="card-header btn-default bg-main pointer collapsed" role="tab" id="headingThird" data-toggle="collapse" href="#collapseThird" aria-expanded="false" aria-controls="collapseThird">
            <div class=" text-white" >
              <h5 class="mb-0">
                <i class="fa fa-unsorted" aria-hidden="true"></i> &nbsp; Apa persyaratannya?</i>
              </h5>
            </div>
          </div>
      
          <!-- Card body -->
          <div id="collapseThird" class="collapse" role="tabpanel" aria-labelledby="headingThird" data-parent="#accordionEx">
            <div class="card-body">
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Laki - laki
              <br>
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Lulus SMA/SMK (Tidak sedang bekerja atau kuliah)
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Dapat izin Orang Tua
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Belum Menikah
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Maksimal umur 22 Tahun
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Punya laptop atau Pinjam dulu
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Passion (Menyukai Hobi) terkait Dunia IT
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Tidak merokok
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Siap tinggal di Asrama
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Berkepribadian baik (Semangat belajar, Suka tantangan, Pantang menyerah, Tidak malas, Kemauan tinggi, Berkomitmen kuat)
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; Mempunyai Komitmen dan Sungguh - sungguh
              <i class="fa fa-check-square-o teal-text" aria-hidden="true"></i>&nbsp; *) Diluar kriteria di atas hubungi WA 0852 2880 2828
            </div>
          </div>
        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card my-2 wow fadeInUp hover-translate" data-wow-delay="0.3s">
      
          <!-- Card header -->
          <div class="card-header btn-default bg-main pointer collapsed" role="tab" id="headingFourth" data-toggle="collapse" href="#collapseFourth" aria-expanded="false" aria-controls="collapseFourth">
            <div class=" text-white" >
              <h5 class="mb-0">
                <i class="fa fa-unsorted" aria-hidden="true"></i> &nbsp; Belajar, Mengajar, dan Berkarya</i>
              </h5>
            </div>
          </div>
      
          <!-- Card body -->
          <div id="collapseFourth" class="collapse" role="tabpanel" aria-labelledby="headingFourth" data-parent="#accordionEx">
            <div class="card-body">
              <p>
                Inti dari Pondok IT adalah tempat belajar dan mengajar. Di dalam Pondok IT dipelajari ilmu IT dan ilmu diniyah (Islam) secara seimbang. Ilmu IT sesuai jurusan masing – masing (Programming, Multimedia, Imers, Cyber) yang di bimbing dari mentor online/offline, santri Senior, Google dan diskusi sesama santri-santri. Ilmu yang dipelajari sesuai passion santri. namun pada 3 bulan pertama di ajarkan basic, mindset-mindset dan pembentukan karakter. Setelah itu santri mulai fokus pada passionnya masing-masing sehingga diharapkan setelah bulan ke 6 santri sudah bisa mandiri. Untuk pelajaran diniyah di ajarkan oleh ustadz diantara yang dipelajari adalah aqidah, tahsin, tahfiz, adab, dan fiqh. Selain belajar dan mengajar santri Pondok IT juga melakukan kegiatan dengan berkarya agar bermanfaat untuk umat.
              </p>
            </div>
          </div>
        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card my-2 wow fadeInUp hover-translate" data-wow-delay="0.3s">
      
          <!-- Card header -->
          <div class="card-header btn-default bg-main pointer collapsed" role="tab" id="headingFifth" data-toggle="collapse" href="#collapseFifth" aria-expanded="false" aria-controls="collapseFifth">
            <div class=" text-white" >
              <h5 class="mb-0">
                <i class="fa fa-unsorted" aria-hidden="true"></i> &nbsp; Mandiri, dan Berbagi</i>
              </h5>
            </div>
          </div>
      
          <!-- Card body -->
          <div id="collapseFifth" class="collapse" role="tabpanel" aria-labelledby="headingFifth" data-parent="#accordionEx">
            <div class="card-body">
              <p>
                Santri Podok IT dibina agar mempunyai budaya mandiri dan berbagi. Dengan sukarela dan penuh kesadaran mau mengajari, mengurus, membina adik kelasnya. Selain itu juga agar dapat bermanfaat untuk agama, bangsa dan negara. 
              </p>
            </div>
          </div>
        </div>
        <!-- Accordion card -->
            </div>
          </div>
        </div>
      </div>


      <div id="support">
            <div class="container my-5 py-5">
              <h2 class="h1-responsive text-center font-weight-bold mb-5 pb-5 wow fadeIn slow" data-wow-delay="0.3s">Supported By</h2>
              <div class="row">
                <div class="col-md-4 col-sm-12">
                  <a href="" target="_blank">
                    <img class="img-fluid" src="img/brand/flazhost.png">
                  </a>
                  <a href="" target="_blank">
                    <img class="mt-5 img-fluid" src="img/brand/Zahir.png">
                  </a>
                  <a href="" target="_blank">
                    <img class="mt-5 img-fluid" src="img/brand/qwords.png">
                  </a>
                </div>
                <div class="col-md-4 col-sm-12">
                  <a href="" target="_blank">
                    <img class="img-fluid" src="img/brand/antmediahost.png">
                  </a>
                  <a href="" target="_blank">
                    <img class="mt-5 img-fluid" src="img/brand/Comtelindo.jpg">
                  </a>
                  <a href="" target="_blank">
                    <img class="mt-5 p-4 img-fluid bg-dark" src="img/brand/arfa.png">
                  </a>
                </div>
                <div class="col-md-4 col-sm-12">
                  <a href="" target="_blank">
                    <img class="img-fluid" src="img/brand/mangrove.png">
                  </a>
                  <a href="" target="_blank">
                    <img class="mt-5 img-fluid" src="img/brand/mtt1.png">
                  </a>
                  <a href="" target="_blank">
                    <img class="mt-5 p-4 img-fluid bg-dark" src="img/brand/sublime.svg">
                  </a>
                </div>
              </div>
            </div>
          </div>